<footer>
  <div class="footer-container">
    <div class="left">Tommo, Mamuju, Sulawesi Barat</div>
    <div class="right">
      © <span class="name">Putu Hendra Mahendra 2022 |</span> BikinSurat
      <div class="link">
        <a href="https://mobile.twitter.com/u2twop" target="blank"
          ><i class="bx bxl-twitter"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
