<nav>
  <div class="nav-container">
    <div class="logo"><i class="bx bx-book bx-tada-hover"></i> BikinSurat</div>

    <div class="img">
      <img src="/img/mamuju.png" alt="" />

      <div class="info">
        <p>Desa Tommo, Kec. Tommo</p>
        <p class="second">Mamuju, Sulawesi Barat</p>
      </div>
    </div>
  </div>
</nav>
