nav
  .nav-container 
    .logo 
      i.bx.bx-book.bx.tada-hover 
      | BikinSurat
    .img 
      img(src='/img/mamuju.png', alt='mamuju')
      .info 
        p Desa Tommo, Kec. Tommo
        p.second Mamuju, Sulawesi Barat
