<div class="download-section">
  <div class="details">
    <div class="title">
      <p>Surat Keterangan Jalan Telah Dibuat</p>
    </div>
    <div class="logo">
      <img src="/img/doc.png" alt="" />
    </div>
    <p class="filename">surat_keterangan_jalan.docx</p>
  </div>
  <div class="button-container">
    <div class="back">
      <div class="popup">
        <p>Kembali ke Halaman Utama</p>
      </div>
      <a id="back" href="/" class="link"
        ><i class="bx bx-left-arrow-alt"></i
      ></a>
    </div>
    <div class="download">
      <a href="/download-file?filename=<%= filename %>" class="link"
        ><i class="bx bx-download"></i> Download File</a
      >
    </div>
  </div>
</div>
