<div class="banner">
  <div class="box img">
    <img src="/img/mamuju.png" alt="" />
    <p>Desa Tommo, Kecamatan Tommo</p>
    <p>Mamuju</p>
    <p>Sulawesi Barat</p>
  </div>
  <div class="box info">
    <p>
      <strong>BikinSurat</strong> adalah layanan E-Goverment yang bertujuan
      untuk Pembuatan Surat agar mempercepat proses administrasi antara
      pemerintah desa dengan masyarakat.
    </p>
    <div class="row">
      <label for="option">JENIS SURAT</label>
      <select name="option" id="option">
        <option value="1">Surat Izin Perjalanan</option>
        <option value="2">Surat Keterangan Tidak Mampu</option>
        <option value="3">Surat Keterangan Domisili</option>
      </select>
    </div>
    <a id="main-link" href="/input?type=1" class="btn">Masukkan Data</a>
  </div>
</div>
