<div class="input-container">
  <div class="back-home">
    <a href="/"><i class="bx bx-left-arrow-alt"></i> Kembali</a>
  </div>
  <div class="row">
    <div class="title">Form Surat Keterangan Domisili</div>
  </div>

  <form action="/<%= action %>" method="post">
    <div class="col">
      <div class="row">
        <label for="name">Nama</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="row">
        <label for="plate">Jenis Kelamin</label>
        <select name="gender" id="gender">
          <option value="Laki - Laki">Laki - Laki</option>
          <option value="Perempuan">Perempuan</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <label for="length">Tempat</label>
        <input type="text" name="length" id="length" />
      </div>
      <div class="row">
        <label for="width">Tanggal Lahir</label>
        <input type="date" name="date" id="date" />
      </div>
    </div>
    <div class="col">
      <div class="row">
        <label for="citizen">Warganegara</label>
        <input type="text" name="citizen" id="citizen" value="WNI" />
      </div>
      <div class="row">
        <label for="religion">Agama</label>
        <input type="text" name="religion" id="religion" />
      </div>
    </div>

    <div class="col">
      <div class="row">
        <label for="work">Pekerjaan</label>
        <input type="text" name="work" id="work" />
      </div>
      <div class="row">
        <label for="mariage">Status Perkawinan</label>
        <select name="mariage" id="mariage">
          <option value="BELUM KAWIN">BELUM KAWIN</option>
          <option value="KAWIN">KAWIN</option>
        </select>
      </div>
    </div>

    <div class="row">
      <label for="address">Alamat</label>
      <textarea name="address" id="address" cols="30" rows="3"></textarea>
    </div>

    <div class="row">
      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>
