<div class="input-container">
  <div class="back-home">
    <a href="/"><i class="bx bx-left-arrow-alt"></i> Kembali</a>
  </div>
  <div class="row">
    <div class="title">Form Surat Keterangan Jalan</div>
  </div>
  <form action="/<%= action %>" method="post">
    <div class="col">
      <div class="row">
        <label for="name">Nama</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="row">
        <label for="plate">No Plat</label>
        <input type="text" name="plate" id="plate" />
      </div>
    </div>
    <div class="col">
      <div class="row">
        <label for="amount">Jumlah</label>
        <input type="text" name="amount" id="amount" />
      </div>
      <div class="row">
        <label for="destination">Tempat Tujuan</label>
        <input type="text" name="destination" id="destination" />
      </div>
    </div>
    <div class="row">
      <p>Ukuran Kendaraan</p>
    </div>
    <div class="col">
      <div class="row">
        <label for="length">Pajang</label>
        <input type="text" name="lengths" id="lengths" />
      </div>
      <div class="row">
        <label for="width">Lebar</label>
        <input type="text" name="width" id="width" />
      </div>
      <div class="row">
        <label for="heigth">Tinggi</label>
        <input type="text" name="height" id="height" />
      </div>
    </div>
    <div class="col">
      <div class="row">
        <label for="nameOfGoods">Nama Barang</label>
        <input type="text" name="nameOfGoods" id="nameOfGoods" />
      </div>
      <div class="row">
        <label for="vehicle">Jenis Kendaraan</label>
        <input type="text" name="vehicle" id="vehicle" />
      </div>
    </div>
    <div class="row">
      <label for="descrtiption">Keterangan</label>
      <textarea name="description" id="" cols="30" rows="5"></textarea>
    </div>

    <div class="row">
      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>
