.btn {
  padding: 0.5rem;
  border: 1px solid $green-300;
  background-color: $green-50;
  color: $green-500;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: bold;

  &:hover {
    background-color: $green-100;
  }
}

.box {
  padding: 1rem;
  background-color: #fff;
  border: 1px solid $grey-100;
  &:hover {
    background-color: $grey-50;
  }
}

input,
select,
textarea {
  border: 1px solid #dddddd;
  border-radius: 5px;

  &:focus {
    outline: 1px solid #dddddd;
  }
}

label {
  font-size: 0.8rem;
}

fieldset {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

textarea {
  resize: none;
  font-family: $font-family;
  &:focus {
    outline: 1px solid $green-700;
  }
}
