<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/css/style.css" />
    <title>Bikin Surat</title>
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <div class="logo">
          <i class="bx bx-book bx-tada-hover"></i> BikinSurat
        </div>

        <div class="img">
          <img src="../public/img/mamuju.png" alt="" />

          <div class="info">
            <p>Desa Tommo, Kec. Tommo</p>
            <p class="second">Mamuju, Sulawesi Barat</p>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <section class="main">
        <div class="input-container">
          <div class="back-home">
            <a href="#"><i class="bx bx-left-arrow-alt"></i> Kembali</a>
          </div>
          <div class="row">
            <div class="title">Form Surat Keterangan Jalan</div>
          </div>
          <div class="col">
            <div class="row">
              <label for="nik">NIK</label>
              <input type="text" name="nik" id="nik" />
            </div>
          </div>
          <div class="col">
            <div class="row">
              <label for="name">Nama</label>
              <input type="text" name="name" id="name" />
            </div>
            <div class="row">
              <label for="plate">Jenis Kelamin</label>
              <select name="gender" id="gender">
                <option value="0">Laki - Laki</option>
                <option value="1">Perempuan</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <label for="length">Tempat</label>
              <input type="text" name="length" id="length" />
            </div>
            <div class="row">
              <label for="width">Tanggal Lahir</label>
              <input type="date" name="date" id="date" />
            </div>
          </div>
          <div class="col">
            <div class="row">
              <label for="citizen">Warganegara</label>
              <input type="text" name="citizen" id="citizen" value="WNI" />
            </div>
            <div class="row">
              <label for="religion">Agama</label>
              <input type="text" name="religion" id="religion" />
            </div>
          </div>

          <div class="col">
            <div class="row">
              <label for="work">Pekerjaan</label>
              <input type="text" name="work" id="work" />
            </div>
            <div class="row">
              <label for="mariage">Status Perkawinan</label>
              <select name="mariage" id="mariage">
                <option value="0">BELUM KAWIN</option>
                <option value="1">KAWIN</option>
              </select>
            </div>
          </div>

          <div class="row">
            <label for="address">Alamat</label>
            <textarea name="address" id="address" cols="30" rows="3"></textarea>
          </div>
          <div class="row">
            <label for="purpose">Tujuan Surat</label>
            <input type="text" name="purpose" id="purpose" />
          </div>

          <div class="row">
            <button type="submit" class="btn">Submit</button>
          </div>
        </div>
      </section>

      <footer>
        <div class="footer-container">
          <div class="left">Tommo, Mamuju, Sulawesi Barat</div>
          <div class="right">
            © Putu Hendra Mahendra 2022 | BikinSurat
            <div class="link">
              <a href="https://mobile.twitter.com/u2twop" target="blank"
                ><i class="bx bxl-twitter"></i
              ></a>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="../public/js/app.js"></script>
  </body>
</html>
